
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #181818;
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;

}
/*CABECERA*/
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #747272;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
    font-size: 20px;

}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;

}
.logo img{
    width: 100%;
    

}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;

}
nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0px 20px;
    list-style: none;

}
nav ul li a{
    color: #ffffff;
    font-size: 20px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px  #181818;
    background: #747272;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.product {
    background-color: #c8c8c8;
    border: 1px solid #ff0000;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    width: px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 0 4px 8px rgb(234, 10, 10);
    
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.product h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.product p {
    color: #777;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    background-color: #9c9c9c; /* Fondo de cada item */
    text-align: center; /* Alineación del contenido */
}

.contenedor .contenedor-items .item .img-item {
    width: 100%;
    height: auto;
    margin-bottom: 15px; /* Espacio entre la imagen y el título */
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #ff0000;
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.contenedor .contenedor-items .item .titulo-item {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contenedor .contenedor-items .item .precio-item {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Color del texto del precio */
    margin-bottom: 10px;
}

.contenedor .contenedor-items .item .boton-item {
    border: none;
    background-color: #ffffff;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedor .contenedor-items .item .boton-item:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el mouse */
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos para el carrito */

.carrito {
    border: 1px solid #ccc;
    background-color: #000000;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    width: 400px;
    color: white;
}

.carrito h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.carrito-items {
    margin-bottom: 20px;
}

.carrito-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.carrito-item img.carrito-item-image {
    width: 200px;
    margin-right: 10px;
}

.carrito-item p {
    margin: 0;
    color: white;
}

.carrito-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.carrito-total p {
    margin: 0;
    color: white;
}

.btn-pagar {
    background-color: #cf1818;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-pagar:hover {
    background-color: #600505;
}

.btn-vaciar-carrito{
    background-color: #cf1818;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-vaciar-carrito:hover {
    background-color: #600505;
}
/*----------------------------------------------------CARRITO HEADER ----------------------------------------------------*/

/* Estilo para el icono del carrito en el encabezado */
.carrito-icon {
    position: relative;
}

.carrito-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #000;
    color: #fff;
    max-height: 400px; /* Altura máxima para el contenedor del carrito */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
}

.carrito-icon:hover .carrito-dropdown {
    display: block;
}

.carrito-dropdown h3 {
    margin: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.carrito-item-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.carrito-item-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.carrito-item-header p {
    margin: 0;
    color: #fff;
}

.carrito-total-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.carrito-total-header p {
    margin: 0;
}

.btn-pagar-header {
    background-color: #cf1818;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-pagar-header:hover {
    background-color: #45a049;
}

/*FOOTER*/
footer {
    width: 100%;
    padding: 80px 0px;
    background: url(./IMAGENES/background-footer.svg); 
    background-size: cover;  
}

.container__footer {
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
    font-size: 20px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.box__footer .logo img{
    width: 190px;
    height: 100px;
    
}


.box__footer .terms{
    max-width: 350px;
    margin-top: 40px;
    color: #000;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #000;
    font-weight: 600;
}

.box__footer a{
    margin-top: 10px;
    color: #000;
    font-weight: 200px;
    
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px0;
    color: #000;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #000;
}

.filtro {
    display: none !important;
}

.container {
    margin-top: 50px; /* Ajusta este valor para cambiar la distancia desde la parte superior */
}

.propiedades-buscador {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(234, 10, 10);
    display: flex;
    align-items: center;
    width: 500px;
    margin-left: 500px;
    
}

.propiedades-buscador input[type="text"] {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    font-size: 16px;
    
}

.propiedades-buscador input[type="text"]::placeholder {
    color: #888;
}

.propiedades-buscador input[type="text"]:focus {
    box-shadow: 0 0 5px rgb(251, 13, 13);
    border: 1px solid rgb(253, 26, 26);
}